@import "bourbon";
@import "vars.scss";

.fa-warning:before,.fa-exclamation-triangle:before {
  content: "\f071";
  font-family: FontAwesome;
}
.fa-check:before {
  content: "\f00c";
  font-family: FontAwesome;
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
  font-family: FontAwesome;
}
.fa-twitter:before {
  content: "\f099";
  font-family: FontAwesome;
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
  font-family: FontAwesome;
}
.fa-google-plus:before {
  content: "\f0d5";
  font-family: FontAwesome;
}
.fa-linkedin:before {
  content: "\f0e1";
  font-family: FontAwesome;
}
.fa-skype:before {
  content: "\f17e";
  font-family: FontAwesome;
}
.fa-vimeo:before {
  content: "\f27d";
  font-family: FontAwesome;
}
.fa-tumblr:before {
  content: "\f173";
  font-family: FontAwesome;
}
.fa-phone:before {
  content: "\f095";
  font-family: FontAwesome;
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
  font-family: FontAwesome;
}
.fa-language:before {
  content: "\f1ab";
  font-family: FontAwesome;
}
.fa-long-arrow-right:before {
  content: "\f178";
  font-family: FontAwesome;
}
.fa-long-arrow-left:before {
  content: "\f177";
  font-family: FontAwesome;
}
.fa-angle-up:before {
  content: "\f106";
  font-family: FontAwesome;
}
.fa-chevron-down:before {
  content: "\f078";
  font-family: FontAwesome;
}
.fa-user-o:before {
  content: "\f2c0";
  font-family: FontAwesome;
}
.fa-calendar:before {
  content: "\f073";
  font-family: FontAwesome;
}
.fa-clock-o:before {
  content: "\f017";
  font-family: FontAwesome;
}
.fa-chevron-left:before {
  content: "\f053";
  font-family: FontAwesome;
}
.fa-refresh:before {
  content: "\f021";
  font-family: FontAwesome;
}
.fa-music:before {
  content: "\f001";
  font-family: FontAwesome;
}
.fa-home:before {
  content: "\f015";
  font-family: FontAwesome;
}
.fa-youtube:before {
  content: "\f166";
  font-family: FontAwesome;
}
.fa-print:before {
  content: "\f02f";
  font-family: FontAwesome;
}