@import url(../libs/slick/slick.css);
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

a, input, textarea, i {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease; }
  a:focus, input:focus, textarea:focus, i:focus {
    outline: 0;
    border: 0; }

button {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease; }
  button:focus {
    outline: 0; }

input, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.a {
  color: #9c4baa;
  text-decoration: underline; }

textarea {
  resize: none; }

button:hover {
  cursor: pointer; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #9c4baa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #9c4baa; }

.button {
  display: block;
  width: 277px;
  height: 70px;
  border: 1px solid #929292;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  color: #929292; }
  .button:hover {
    background-color: #9c4baa;
    color: #fff; }
  .button:focus {
    border: 1px solid #929292; }

.button_hover {
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  text-decoration: underline;
  -webkit-transition: color .4s ease, background-color .4s ease;
  transition: color .4s ease, background-color .4s ease; }
  .button_hover:hover {
    color: #6d3287 !important; }

.hidden {
  display: none; }

.wrapper {
  width: 1170px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px; }

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important; }

button:active {
  border-style: dotted !important;
  border-color: #fff !important;
  background-color: #9c4baa !important; }

.button2:active {
  border-style: dotted !important;
  border-color: #fff !important; }

.button3:active {
  border-style: dotted !important; }

@-moz-document url-prefix() {
  .registration_s2__input_last {
    margin-top: -4px !important; }
  .callback_s1__left .form_input .callback_textarea {
    margin-top: -1px !important; }
  .pagi li .pagi_third {
    margin-top: -22px; }
  .account_validation_s2__input_top {
    margin-top: -7px !important; }
  .regitstration_s3__secret_code, .regitstration_s3__cod {
    margin-top: 4px !important; }
  .testimonialstext_s2__textarea {
    margin-top: 0 !important; }
  #s12 .left_otz_text, #s12 .right_otz_text {
    bottom: 7px !important; } }

.internal_page .menu {
  background-color: #e1e1e1;
  padding-top: 33px;
  padding-bottom: 29px;
  overflow: hidden;
  text-align: center; }
  .internal_page .menu ul {
    float: none; }
    .internal_page .menu ul li {
      float: none;
      margin-right: 30px; }
      .internal_page .menu ul li:first-child {
        margin-right: 23px; }
      .internal_page .menu ul li:last-child {
        margin-right: 0; }
      .internal_page .menu ul li a {
        font-family: Roboto !important;
        font-size: 15px !important;
        font-weight: 700 !important;
        line-height: 36px !important;
        color: black !important; }
        .internal_page .menu ul li a i {
          font-size: 17px !important;
          color: black !important; }
        .internal_page .menu ul li a:hover {
          color: #9c4baa !important; }
          .internal_page .menu ul li a:hover i {
            color: #9c4baa !important; }

.internal_page .menu {
  padding-top: 15px;
  padding-bottom: 0px; }
  .internal_page .menu .menu__home_a {
    margin-top: -6px !important; }

#s13_formm {
  overflow: inherit !important;
  margin-right: 15px; }

header {
  position: relative; }
  header .top {
    background-color: #e1e1e1;
    padding-bottom: 5px; }
    header .top ul {
      text-align: center;
      padding-top: 3px; }
      header .top ul li {
        display: inline-block;
        position: relative;
        padding: 0 52px; }
        header .top ul li a {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 700;
          line-height: 36px;
          color: #212121; }
          header .top ul li a:hover {
            color: #9c4baa; }
          header .top ul li a.active {
            color: #9c4baa; }
        header .top ul li:last-child:after {
          display: none; }
        header .top ul li:after {
          content: '';
          width: 2px;
          height: 14px;
          background-color: #c1c1c1;
          display: block;
          position: absolute;
          right: 0;
          top: 11px; }
  header .after_top {
    margin-top: 34px;
    padding-bottom: 18px; }
    header .after_top .wrapper {
      min-height: 59px;
      position: relative;
      overflow: visible; }
    header .after_top .left {
      float: left;
      max-width: 85px; }
      header .after_top .left a {
        display: block; }
        header .after_top .left a img {
          width: 100%;
          max-width: 85px; }
    header .after_top .phone {
      float: left;
      max-width: 273px;
      margin-left: 320px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: -18px; }
      header .after_top .phone span {
        display: block; }
      header .after_top .phone .header_phone_span {
        display: inline-block;
        margin-left: 2.5px; }
      header .after_top .phone .first a {
        font-family: Roboto;
        font-weight: 700;
        color: #929292;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 3px; }
        header .after_top .phone .first a:hover {
          color: #9c4baa; }
      header .after_top .phone .two {
        font-family: Roboto;
        font-weight: 700;
        color: black;
        font-size: 11px; }
    header .after_top .lang {
      float: left;
      margin-left: 66px;
      background-image: url(../img/header/earzh.png);
      background-repeat: no-repeat;
      background-position: left top;
      padding-left: 60px;
      padding-top: 5px;
      padding-bottom: 6px;
      margin-top: -8px; }
      header .after_top .lang span {
        display: block; }
      header .after_top .lang .first {
        color: #9c4baa;
        font-family: Roboto;
        font-weight: 700;
        font-size: 15px; }
      header .after_top .lang .two {
        color: #9c4baa;
        font-family: Roboto;
        font-weight: 700;
        font-size: 11px; }
      header .after_top .lang:hover .ul {
        visibility: visible;
        opacity: 1; }
      header .after_top .lang .ul {
        -webkit-transition: opacity .4s ease;
        transition: opacity .4s ease;
        visibility: hidden;
        opacity: 0;
        max-width: 288px;
        min-height: 289px;
        background-color: #fff;
        padding-left: 29px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 29px;
        position: absolute;
        right: 217px;
        top: 43px;
        z-index: 100;
        border: 1px solid #e1e1e1; }
        header .after_top .lang .ul li a {
          font-size: 12px;
          line-height: 21px;
          color: black;
          font-family: Gotham Pro;
          font-weight: 500; }
          header .after_top .lang .ul li a:hover {
            color: #9c4baa; }
    header .after_top .live {
      display: block;
      float: left;
      background-image: url(../img/header/live.png);
      background-repeat: no-repeat;
      background-position: left top;
      padding-left: 66px;
      margin-left: 72px;
      max-width: 152px;
      margin-top: -7px; }
      header .after_top .live:hover .three {
        color: #9c4baa; }
      header .after_top .live span {
        font-family: Roboto;
        font-weight: 700;
        display: block; }
      header .after_top .live .first {
        color: #72ab2e;
        font-size: 15px; }
      header .after_top .live .two {
        color: #72ab2e;
        font-size: 11px; }
      header .after_top .live .three {
        color: #929292;
        font-size: 11px;
        -webkit-transition: .4s ease color;
        transition: .4s ease color; }
    header .after_top .mobile_l {
      text-align: center;
      display: none;
      padding-top: 20px;
      padding-bottom: 20px; }
      header .after_top .mobile_l li {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px; }
        header .after_top .mobile_l li a {
          display: inline-block;
          margin: 0 auto; }
          header .after_top .mobile_l li a i {
            font-size: 30px;
            color: black; }
            header .after_top .mobile_l li a i:hover {
              color: #9c4baa; }
        header .after_top .mobile_l li select {
          display: inline-block;
          vertical-align: middle;
          margin: 0 auto;
          margin-top: -12px;
          margin-left: 20px;
          text-align: center; }
          header .after_top .mobile_l li select:focus {
            outline: 0; }
          header .after_top .mobile_l li select option {
            text-align: center; }
  header .menu {
    background-color: #e1e1e1;
    padding-top: 20px;
    padding-bottom: 16px;
    overflow: hidden; }
    header .menu ul {
      overflow: hidden;
      float: left; }
      header .menu ul li {
        float: left;
        margin-right: 30px; }
        header .menu ul li:last-child {
          margin-right: 0; }
        header .menu ul li a {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 700;
          line-height: 36px;
          color: black; }
          header .menu ul li a i {
            font-size: 17px;
            color: black; }
          header .menu ul li a:hover {
            color: #9c4baa; }
            header .menu ul li a:hover i {
              color: #9c4baa; }
    header .menu ol {
      float: right;
      margin-top: -1px; }
      header .menu ol li {
        float: left;
        margin-right: 30px; }
        header .menu ol li:last-child {
          margin-right: 0; }
        header .menu ol li a {
          color: black;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 700;
          line-height: 38px; }
          header .menu ol li a img {
            margin-right: 4px; }
          header .menu ol li a:hover {
            color: #9c4baa; }
  header .slick {
    text-align: center;
    position: relative; }
    header .slick .w1, header .slick .w2, header .slick .w3, header .slick .w4, header .slick .w5, header .slick .w6, header .slick .w7 {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      padding-top: 152px;
      padding-bottom: 200px; }
      header .slick .w1:focus, header .slick .w2:focus, header .slick .w3:focus, header .slick .w4:focus, header .slick .w5:focus, header .slick .w6:focus, header .slick .w7:focus {
        outline: 0; }
    header .slick .w1 {
      background-image: url(../img/header/w1.png); }
    header .slick .w2 {
      background-image: url(../img/header/slider/w2.png); }
    header .slick .w3 {
      background-image: url(../img/header/slider/w3.png); }
    header .slick .w4 {
      background-image: url(../img/header/slider/w4.png); }
    header .slick .w5 {
      background-image: url(../img/header/slider/w5.png); }
    header .slick .w6 {
      background-image: url(../img/header/slider/w6.png); }
    header .slick .w7 {
      background-image: url(../img/header/slider/w7.png); }
    header .slick h2 {
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 60px; }
    header .slick h1 {
      font-family: "Gotham Pro";
      font-size: 50px;
      font-weight: 900;
      line-height: 60px;
      text-transform: uppercase;
      color: white; }
      header .slick h1 span {
        color: #9c4baa; }
    header .slick h3 {
      color: white;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 60px; }
    header .slick a {
      margin: 0 auto;
      margin-top: 35px;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 330px;
      height: 70px;
      border: 1px solid white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  header .after:after {
    opacity: 0;
    visibility: hidden; }
  header .center {
    position: absolute;
    bottom: -47px;
    left: 50%;
    margin-left: -47px;
    display: block; }

.hidden-menu-ticker {
  display: none; }

.btn-menu {
  display: none;
  color: #fff;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: left .23s;
  transition: left .23s;
  z-index: 30;
  width: 31px;
  height: 30px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s ease, left 0.4s ease;
  transition: right 0.4s ease, left 0.4s ease;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 20%;
  border-radius: 20%; }

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 10px; }

.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0; }

.btn-menu span {
  display: block;
  position: relative;
  margin: 0 auto; }

.btn-menu span.first_mazafaka {
  top: 0;
  width: 25px;
  height: 3px;
  background: #9c4baa;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: 3px;
  -webkit-transition: all 0.5s, top 0.2s;
  transition: all 0.5s, top 0.2s; }

.btn-menu span.second_mazafaka {
  width: 25px;
  height: 3px;
  top: 6.6px;
  background: #9c4baa;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s, top 0.2s;
  transition: all 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s; }

.btn-menu span.third_mazafaka {
  width: 25px;
  height: 3px;
  top: 13.5px;
  background: #9c4baa;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.hidden-menu-ticker:checked ~ .btn-menu span.first_mazafaka {
  top: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.hidden-menu-ticker:checked ~ .btn-menu span.second_mazafaka {
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.hidden-menu-ticker:checked ~ .btn-menu span.third_mazafaka {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.after_top__phone {
  width: 40px;
  display: block;
  float: left;
  margin-top: 17px;
  margin-right: 10px; }
  .after_top__phone path {
    fill: #959595; }

.mobile_l_2 {
  display: none;
  text-align: left; }

.mobile_l_2_a_top {
  max-width: 75px; }

.mobile_l_2_wrap {
  position: relative; }
  .mobile_l_2_wrap:hover .mobile_l_2_first {
    visibility: visible;
    opacity: 1; }

.mobile_l_2_svg {
  width: 40px;
  margin: 0 auto; }

.mobile_l_2_first {
  top: 56px;
  left: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  visibility: hidden;
  opacity: 0;
  max-width: 288px;
  min-height: 72px;
  background-color: #fff;
  padding-left: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 29px;
  position: absolute;
  z-index: 100;
  border: 1px solid #e1e1e1; }
  .mobile_l_2_first a {
    font-family: Roboto;
    font-weight: 700;
    color: #929292;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 3px;
    display: block;
    min-width: 218px; }
    .mobile_l_2_first a:hover {
      color: #9c4baa; }

.mobile_l_2_live {
  background-image: url(../img/header/live.png) !important;
  padding-left: 66px !important; }

.mobile_l_2_lang {
  background-image: url(../img/header/earzh.png) !important;
  padding-left: 60px !important;
  padding-bottom: 10px !important;
  position: relative !important; }
  .mobile_l_2_lang .ul {
    position: absolute !important;
    top: 59px !important;
    left: 141px !important;
    display: block !important; }

.mobile_l_2_item {
  display: inline-block !important;
  float: none !important;
  margin: 0 7% !important;
  text-align: left;
  vertical-align: middle; }
  .mobile_l_2_item:first-child {
    margin-left: 0 !important; }

.menu_fx {
  display: none; }
  .menu_fx li:first-child:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px; }

.mobile_l_2_four {
  display: none !important;
  width: 18px;
  height: 10px;
  color: #959595; }
